# web_type = 2 : luồng mới | web_type = 1 : luồng cũ
WEB_TYPE=

APP_NAME=
APP_ENV=

# if luồng mới WEB_TYPE= 2 
# thay bằng tên project 
BASE_NAME=framwork_mvc
# vd : http://ai-tsuma-okazaki.com/
BASE_DOMAIN= ai-tsuma
# end if 

# vd lên server thì config lại http://localhost ==> domain của web
BASE_URL=http://localhost/framwork_mvc

# config database

# ================== PROJECT DB
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_CHARSET=

# ================== COMMON DB
DB_COMMON_HOST=
DB_COMMON_USER=
DB_COMMON_PASS=
DB_COMMON_NAME=
DB_COMMON_CHARSET=


# DEBUG - 1 => debug, => none
APP_DEBUG=                                  

# Security
APP_KEY=your-secret-key-here

# Timezone
APP_TIMEZONE=Asia/Ho_Chi_Minh

# CACHE 
CACHE_ADMIN_TOKEN=

# style
GLOBAL_STYLE_VERSION=0.0.0

# config meta tags
PROJECT_TITLE=
PROJECT_LOCATION_PREFIX_TITLE=
PROJECT_LOCATION_SUFFIX_TITLE=
PROJECT_DESCRIPTION=
PROJECT_KEYWORDS=
PROJECT_PHONE_DISPLAY=
PROJECT_PHONE=
PROJECT_FAX_DISPLAY=
PROJECT_FAX=
PROJECT_ADDRESS=
PROJECT_LINE=
PROJECT_EMAIL=
PROJECT_INSTAGRAM=
PROJECT_FACEBOOK=

SITENAME=
ALTERNATE_SITENAME=

# google
GLOBAL_CATPCHA_V2_KEY=
GLOBAL_RECAPTCHA_SECRET_KEY=

# config url for contact form
GLOBAL_CONTACT_FORM_URL=
GLOBAL_TOKEN_CONTACT_FORM=

# Google Gemini AI Chatbot
GEMINI_API_KEY=
